<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/users/update/<%=id%>" >
            <div class="mb-3 col-6">
              <label for="name" class="form-label" name="username">User Name</label>
              <input type="text" class="form-control" id="name" name="userName" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
    </form>
</body>
</html>